<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Petstore Suite" verbose="1">
    <test name="Petstore API Tests">
        <classes>
            <class name="ListPetsApiTestWithDTOsAndApiHelperTest"/>
            <class name="PetStoreApiWithApiHelperTest"/>
            <class name="PetStoreApiWithDTOsTest"/>
            <class name="PetStoreAPIWithJSONStringsTest"/>
        </classes>
    </test>
</suite>